---
import BaseHead from "../components/BaseHead.astro";
import BlogFeatured from "../components/BlogFeatured.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const devMode = import.meta.env.DEV;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		{!devMode && <script
			defer
			src="https://workers.markzuppe.com/script.js"
			data-website-id="cb072e48-8479-46d5-a97e-6e061c5ea4f9"
		></script>}
		</head
	>

	<body>
		<main>
			<h1>title = "mark zuppe"</h1>
			<h2>[overview]</h2>
			<p>
				Catholic dad and technical product leader with 10+ years experience supporting early stage, venture-backed startups and enterprise organizations.
			</p>
			

			
			<section>
				<h2>[primary_services]</h2>
				<p>
					<ul>
						<li>Technical Product Management</li>
						<li>Fractional CTO</li>
						<li>Zero-to-One Launches</li>
						<li>Solution Architecture</li>
						<li>Digital Transformation/Product for Faith Based Orgs</li>
					</ul>
				</p>
			</section>
			<section>
				<h2>[secondary_services]</h2>
				<p>Full-stack development, devops, engineering management.</p>
			</section>
			<section>
				<h2>[trusted_by]</h2>
				<p>
					Apple, Bacardi, NYU, Comcast, Canon, Sony, Maybelline, UMG, and more.
			</section>
			<section>
				<h2>[experience]</h2>
				<ul>
					<li>Agency: <a href="https://aleia.io">Aleia (Partner/TPM)</a></li>
					<li>Enterprise: <a href="https://bhphotovideo.com">B&H Photo (Content Director)</a></li>
					<li>Startup: <a href="https://yallhands.com">Yallhands (Product)</a>, Ona (Product), Supermassiv (CTO)</li>
				</ul>
			</section>
			<section>
				<h2>[certs]</h2>
				<ul>
					<li>AWS Solution Architect Professional</li>
					<li>AWS Solution Architect Associate</li>
					<li>AWS Cloud Practitioner</li>
				</ul>
			</section>
			<section>
				<h2>[side_projects]</h2>
				<ul>
					<li><a href="https://unumexamen.com">Unum Examen</a>: AI driven examination of conscience</li>
					<li><a href="https://www.npmjs.com/package/urchin-web3-cms">Urchin</a>: Headless CMS protocol and SDK</li>
					<li><a href="https://github.com/mjzuppe/reqsy">Reqsy</a>: Figma plugin to document product specs</li>
					<li><a href="https://github.com/mjzuppe/bobber">Decoy Page</a>: LLM powered landing page generator</li>
				</ul>	
			</section>
			<section>
				<h2>[blog]</h2>
				<BlogFeatured />
			</section>
			<section>
				<h2>[footer]</h2>
				<div class="footer-container">
					<div class="footer-item">
					<a href="https://github.com/mjzuppe" target="_blank">
					GITHUB
				</a>
			</div>
			<div class="footer-item">
					<a href="https://x.com/mjzuppe">
						X
					</a>
				</div>
			
			<div class="footer-item">
				<a href="https://forms.gle/6GyMnSMA9QTyeZAD6" target="_blank">
					CONTACT
			</div>
		</div>
			</section>
		</main>
		
		<style>
			section {
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
			.tag {
				background-color: rgb(var(--gray));
				border-radius: 0.25rem;
				padding: 0.25rem 0.5rem;
				margin-right: 0.5rem;
				margin-top: 0.5rem;
			}
			.tag-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
			}
			.footer-container  {
				margin-top: 0.5rem;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;

			}
			.footer-item {
				margin: 0 2rem 0 0rem;
			}
			.blue {
				color: blue;
			}
			.red {
				color: orangered;
			}
		</style>
	</body>
</html>
