<div>
    <h3>title</h3>
    <p>date</p>
    <p>Overview of content that keeps going. // loreum ipsum</p>
</div>
<style>
    div {
        border-width: 1px 0 1px 0;
        padding: 10px 0px 10px 0px;
        border-style: dashed;
        border-color: rgb(var(--gray));
        
        
    }

</style>