<div class="container">
    <div class="post-feature">
        <h5>title</h5>
        <div>date</div>
        <div>Overview of content that keeps going. // loreum ipsum</div>
    </div>
    <div class="post-feature">
        <h5>title</h5>
        <div>date</div>
        <div>Overview of content that keeps going. // loreum ipsum</div>
    </div>
    <div class="post-feature">
        <h5>title</h5>
        <div>date</div>
        <div>Overview of content that keeps going. // loreum ipsum</div>
    </div>
</div>
<style>
    .container {
        margin: 20px 0 20px 0;
        border-width: 1px 0 1px 0;
        padding: 10px 0px 10px 0px;
        border-style: solid;
        border-color: rgb(var(--gray));
    }

    .post-feature {
        margin: 10px 0 10px 0;
        border-width: 1px 0 1px 0;
        padding: 10px 0px 10px 0px;
        border-style: dashed;
        border-color: rgb(var(--gray));
    }

</style>