---
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---
<div class="container">
    {
        allPosts.map((post:any) => (
            <a href={`/blog/${post.slug}`}>
                <div class="post-feature">
                <div class="post-feature-row">
                    <div class="post-feature-lead">
                        <div class="post-feature-date">{post.data.pubDate.toLocaleDateString()}</div>
                        <div class="post-feature-title">
                            {post.data.title}
                        </div>
                    </div>
                </div>
            </div>
            </a>
        ))
    }
    
</div>
<style>
    .post-feature-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .post-feature-lead {
        width: 100%;
    }

    .post-feature-lead {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .post-feature-date {
        color: rgb(var(--gray));
        width: 125px;
    }
    .container {
        margin: 20px 0 20px 0;
        border-width: 1px 0 1px 0;
        padding: 10px 0px 10px 0px;
        border-style: solid;
        border-color: rgb(var(--gray));
        a {
            style: text-decoration: none; 
            color: rgb(var(--accent));
        }
    }

    .post-feature {
        margin: 5px 0 5px 0;
        border-width: 1px 0 1px 0;
        padding: 5px 0px 5px 0px;
    }
</style>
