<div class="container">
    <a href="/blog/first-post">
        <div class="post-feature-row">
            <div class="post-feature-lead">
                <div class="post-feature-date">date</div>
                <div>title is a very long title asd as dfasdf</div>
            </div>
        </div>
    </a>
    
</div>
<style>
    .post-feature-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .post-feature-lead {
        width: 100%;
    }

    .post-feature-lead {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .post-feature-date {
        color: rgb(var(--gray));
        width: 100px;
    }
    .container {
        margin: 20px 0 20px 0;
        border-width: 1px 0 1px 0;
        padding: 10px 0px 10px 0px;
        border-style: solid;
        border-color: rgb(var(--gray));
    }

    .post-feature {
        margin: 10px 0 10px 0;
        border-width: 1px 0 1px 0;
        padding: 10px 0px 10px 0px;
        border-style: dashed;
        border-color: rgb(var(--gray));
    }
</style>
